.home {
  .shape {
    position: absolute;
  }

  .avatar {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    display: none;
    filter: grayscale(10);
  }

  .my-name {
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
  }

  .text-intro {
    color: lighten($primary-color, 40%);
  }

  .my-grid {
    margin-top: -2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;

    .right-image {
      margin-top: 4rem;
      width: 80%;
      filter: grayscale(100);
      position: relative;
    }
  }
}

@media screen and (max-width: 900px) {
  .my-grid {
    img {
      width: 50%;
    }
  }
}

@media screen and (max-width: 768px) {
  .my-grid {
    display: block !important;
    text-align: center;

    .avatar {
      display: inline-block;
      margin: 2rem 0;
    }

    .right-image {
      display: none;
    }

    p {
      font-size: 100%;
    }
  }
}

.home,
.skill-section {
  .square {
    position: absolute;
    z-index: -999;
    top: -10rem;
    left: 3rem;
    height: 200px;
    width: 200px;
    border: 16px solid lighten($primary-color, 70%);
    border-radius: 12px;
    transform: rotate(-45deg);
  }

  .circle {
    position: absolute;
    bottom: 4rem;
    left: -5rem;
    height: 140px;
    width: 140px;
    border-radius: 100%;
    border: 18px solid lighten($primary-color, 70%);
  }

  .circle2 {
    position: absolute;
    top: -10rem;
    right: -5rem;
    height: 240px;
    width: 240px;
    border-radius: 100%;
    border: 18px solid lighten($primary-color, 70%);
  }

  @media screen and (max-width: 768px) {
    .square,
    .circle,
    .circle2 {
      height: 100px;
      width: 100px;
      border-width: 8px;
    }

    .square {
      top: 2rem;
    }

    .circle2 {
      top: 2rem;
    }
  }
}
